[Unit]
Description=Check StreamVault scan queue every 5 minutes

[Timer]
OnBootSec=2min
OnUnitInactiveSec=5min
AccuracySec=5s
Unit=streamvault-leakchecker.service

[Install]
WantedBy=timers.target
